<p id="notice"><%= notice %></p>
<div class="flex flex-col">
  <nav class="px-4 py-3 text-right">
      <%= link_to "トップに戻る", root_path, class: "font-bold text-blue-600" %>
  </nav>
  <main class="w-full flex flex-col h-screen" data-controller="messages">
    <div
      data-action="turbo:before-stream-render->messages#scroll" class="overflow-auto pb-20 px-4"
      data-messages-target="messages"
    >
      <%= turbo_stream_from @chat_room, :messages %>
      <div id="messages" class="space-y-6" >
        <%= render @messages%>
      </div>
    </div>
    <div class="py-4">
      <%= render 'messages/form', message: @message %>
    </div>
  </main>
</div>
