<p id="notice"><%= notice %></p>

<menu>
  <div id="users">
    <%= render @chat_room.users %>
  </div>
  <%= link_to "他の部屋に行く", "#" %>
</menu>
<main>
  <turbo-frame id="messages">
    <%= render @messages %>
    <%= render 'messages/form', message: @message %>
  </turbo-frame>
</main>
